@model HomePageViewModel
@{
    ViewData["Title"] = "Trang Chủ";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="~/css/slider.css" rel="stylesheet" />

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/Banner3.JPG" alt="First slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="bs-calltoaction bs-calltoaction-success">
    <div class="row">
        <div class="col-md-9 cta-contents">
            <h1 class="cta-title">Những con số của Đò:</h1>
            <div class="cta-desc">
                @*<h4><strong>2700</strong> chuyến đò được cập bến</h4>*@
                <h4><strong>@Model.NumberOfDonator</strong> lượt sẻ chia</h4>
                <h4><strong>@Model.NumberOfPeople</strong> người cần trợ giúp</h4>

            </div>
        </div>
        <div class="col-md-3 cta-button">
            <a href="/Donator/Propose" class="btn btn-lg btn-block btn-success">Đóng góp ngay</a>
        </div>
    </div>
</div>




<section>
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <h2 class="mt-0 line-height-1">Gọi đò!</h2>
                <p>Chúng tôi là một chuyến đò, kết nối những nhà hảo tâm và người cần giúp đỡ. Toàn bộ thông tin sẽ được công khai trên hệ thống!<br> Mọi đóng góp xin vui lòng liên hệ 0937.002.776</p>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-6">
            <!-- Copy the content below until next comment -->
            <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img" style="background-image: url('/img/c1.jpg');"></div>
                <div class="card-custom-avatar">
                    <img class="img-fluid" src="/img/c3.jpg" />
                </div>
                <div class="card-body" style="overflow-y: auto">
                    <h3 class="card-title" style="color: #dc3545">Bạn cần giúp đỡ?</h3>
                    <p class="card-text">Đò đã tiếp nhận <strong>@Model.NumberOfPeople</strong> người cần trợ giúp. Nếu bạn đang gặp khó khăn hoặc bạn biết những người đang cần giúp đỡ, đừng ngần ngại bấm vào nút đề cử bên dưới bạn nhé.</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="/Beneficiary/Propose" class="btn btn-danger">Đề cử NGAY!</a>
                    <a href="/Beneficiary/Index" class="btn btn-outline-danger">Xem danh sách</a>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <!-- Copy the content below until next comment -->
            <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img" style="background-image: url('/img/c2.jpg');"></div>
                <div class="card-custom-avatar">
                    <img class="img-fluid" src="/img/c4.jpg" alt="Avatar" />
                </div>
                <div class="card-body" style="overflow-y: auto">
                    <h3 class="card-title" style="color: #28a745">Bạn muốn sẻ chia?</h3>
                    <p class="card-text">Nếu bạn có nhu cầu chia sẻ với những người đang gặp khó khăn, hoặc đơn giản bạn biết một đơn vị nào có nhu cầu chia sẻ. Hãy đề cử cho Gọi đò nhé!</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                    <a href="/Donator/Propose" class="btn btn-success">Đề cử NGAY!</a>
                    <a href="/Donator/Index" class="btn btn-outline-success">Xem danh sách</a>
                </div>
            </div>

        </div>

    </div>
</section>

@if (Model.DeliveriesSuccess != null && Model.DeliveriesSuccess.Any())
{
    <hr />
    <section>
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    <h2 class="mt-0 line-height-1">Bảng tin vui</h2>
                </div>
            </div>
        </div>
        <div id="carouselExampleIndicators-news" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var i = 0; i < Model.DeliveriesSuccess.Count; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselExampleIndicators-news" data-slide-to="@i" class="active"></li>

                    }
                    else
                    {
                        <li data-target="#carouselExampleIndicators-news" data-slide-to="@i"></li>

                    }

                }
            </ol>
            <div class="carousel-inner">
                @for (var i = 0; i < Model.DeliveriesSuccess.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <div class="bs-calltoaction bs-calltoaction-warning">
                                <div class="row">
                                    <div class="col-md-12 cta-contents">
                                        <h1 class="cta-title">Lúc @Model.DeliveriesSuccess[i].ValidateddAt.Value.ToString("dd/MM/yyyy")</h1>
                                        <div class="cta-desc">
                                            <h4><strong>@Model.DeliveriesSuccess[i].GetOrganizationName()</strong> đã giúp đỡ</h4>
                                            <h4><strong>@Model.DeliveriesSuccess[i].GetBeneficaryName()</strong></h4>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item ">
                            <div class="bs-calltoaction bs-calltoaction-warning">
                                <div class="row">
                                    <div class="col-md-12 cta-contents">
                                        <h1 class="cta-title">Lúc @Model.DeliveriesSuccess[i].ValidateddAt.Value.ToString("dd/MM/yyyy")</h1>
                                        <div class="cta-desc">
                                            <h4><strong>@Model.DeliveriesSuccess[i].GetOrganizationName()</strong> đã giúp đỡ</h4>
                                            <h4><strong>@Model.DeliveriesSuccess[i].GetBeneficaryName()</strong></h4>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                }
                <a class="carousel-control-prev" href="#carouselExampleIndicators-news" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators-news" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

    </section>

}


<hr />

<section>
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <h2 class="mt-0 line-height-1">Nhu cầu cần được hỗ trợ:</h2>
            </div>
        </div>

    </div>
    <div class="col-md-12">

        <div class="table-wrap">
            <table class="table">
                <thead class="table-danger">
                    <tr>
                        <th>Nhu cầu</th>
                        <th>Tên hàng hóa</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BenificaryCategories != null && Model.BenificaryCategories.Any())
                    {
                        int index = 0;
                        foreach (var cate in Model.BenificaryCategories)
                        {
                            if (index < 5)
                            {
                                <tr>
                                    <th scope="row" class="scope">@cate.Category.Need.Name</th>
                                    <td><a href="/Beneficiary/Index?categoryId=@cate.Category.CategoryId">@cate.Category.Name</a> </td>
                                    <td>@cate.Quantity</td>
                                    <td>@cate.Category.Unit</td>
                                </tr>

                            }
                            else
                            {
                                <tr data-type="1" style="display: none">
                                    <th scope="row" class="scope">@cate.Category.Need.Name</th>
                                    <td><a href="/Beneficiary/Index?categoryId=@cate.Category.CategoryId">@cate.Category.Name</a> </td>
                                    <td>@cate.Quantity</td>
                                    <td>@cate.Category.Unit</td>
                                </tr>

                            }
                            index++;
                        }
                    }

                    <tr style="text-align: center">
                        <td colspan="4"><button data-type="1" class="btn btn-warning view-more">Xem thêm</button></td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</section>


<hr />
<section>
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <h2 class="mt-0 line-height-1">Tổng hợp hàng hóa muốn sẻ chia</h2>
            </div>
        </div>

    </div>
    <div class="col-md-12">

        <div class="table-wrap">
            <table class="table">
                <thead class="table-success">
                    <tr>
                        <th>Nhu cầu</th>
                        <th>Tên hàng hóa</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DonatorCategories != null && Model.DonatorCategories.Any())
                    {
                        int index = 0;

                        foreach (var cate in Model.DonatorCategories)
                        {

                            if (index < 5)
                            {
                                <tr>
                                    <th scope="row" class="scope">@cate.Category.Need.Name</th>
                                    <td><a href="/Beneficiary/Index?categoryId=@cate.Category.CategoryId">@cate.Category.Name</a> </td>
                                    <td>@cate.Quantity</td>
                                    <td>@cate.Category.Unit</td>
                                </tr>

                            }
                            else
                            {
                                <tr data-type="2" style="display: none">
                                    <th scope="row" class="scope">@cate.Category.Need.Name</th>
                                    <td><a href="/Beneficiary/Index?categoryId=@cate.Category.CategoryId">@cate.Category.Name</a> </td>
                                    <td>@cate.Quantity</td>
                                    <td>@cate.Category.Unit</td>
                                </tr>

                            }

                            index++;

                        }

                        <tr style="text-align: center">
                            <td colspan="4"><button data-type="2" class="btn btn-warning view-more">Xem thêm</button></td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
        $("button.view-more").click(function () {
            var button = $(this);
            var dataType = button.attr("data-type");
            $("tr[data-type='" + dataType + "']").each(function () {
                $(this).show();
            });

            button.hide();
        });
    </script>
}