@model IEnumerable<Mio.NhaCuaVui.HappySite.Models.Beneficiary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/invoice.css" rel="stylesheet" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


@foreach (var item in Model)
{
    <div class="row" style="margin-bottom: 50px" data-id="@item.BeneficiaryId">
        <div class="col-md-12">
            <div class="widget-box">

                <div class="widget-body">
                    <div class="widget-main padding-24">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="">
                                        <b style="color: green">NGƯỜI NHẬN</b>
                                    </div>
                                </div>

                                <div>
                                    <ul class="list-unstyled spaced">
                                        <li>
                                            <i class="ace-icon fa fa-caret-right blue"></i>

                                            Tổ chức: <strong>@item.OrganizationDisplayName</strong>

                                        </li>
                                        <li>
                                            <i class="ace-icon fa fa-caret-right blue"></i>

                                            Đề cử: <a href="tel:@item.ProposetorPhone">@item.ProposetorName  - @item.ProposetorPhone</a>

                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-caret-right blue"></i>
                                            Người của tổ chức: <a href="tel:@item.ContactPhone">@item.ContactName  - @item.ContactPhone</a>
                                        </li>


                                        <li>
                                            <i class="ace-icon fa fa-caret-right blue"></i>
                                            Địa chỉ: <strong> @item.GetAddress()</strong>
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-caret-right blue"></i>
                                            <a class="btn btn-outline-primary" href="#">@item.GetTranspotationInformation()</a>

                                        </li>


                                    </ul>
                                </div>
                            </div><!-- /.col -->

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="">
                                        <b style="color: darkred">Thông tin</b>
                                    </div>
                                </div>

                                <div>
                                    <ul class="list-unstyled  spaced">
                                        <li>
                                            <i class="ace-icon fa fa-caret-right green"></i>
                                            Trạng thái:
                                            @if (item.IsValidated == null)
                                            {
                                                <a class="btn btn-outline-dark" href="#">Chưa xác định</a>
                                            }
                                            else
                                            {
                                                if (item.IsValidated == true)
                                                {
                                                    <a class="btn btn-success" href="#">Đã duyệt</a>
                                                    <p>Duyệt bởi: <strong>@item.ValidatedUser.Name</strong></p>
                                                    <p>Lúc: @item.ValidatedAt.ToLongDateString()</p>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger" href="#">Hỏng được duyệt</a>
                                                    <p>Bởi: <strong>@item.ValidatedUser.Name</strong></p>
                                                    <p>Lúc: @item.ValidatedAt.ToLongDateString()</p>
                                                    <p>@item.NotValidateMessage</p>

                                                }
                                            }
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-caret-right green"></i>
                                            Địa chỉ:  <strong> @item.GetAddress()</strong>
                                        </li>

                                    </ul>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="space"></div>

                        <div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="center">#</th>
                                        <th>Nhu cầu</th>
                                        <th class="hidden-xs">Tên hàng hóa</th>
                                        <th class="hidden-480">Số lượng</th>
                                        <th>Đơn vị</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (item.BenificaryCategoryQuantities != null && item.BenificaryCategoryQuantities.Any())
                                    {
                                        int index = 1;
                                        foreach (var cate in item.BenificaryCategoryQuantities)
                                        {
                                            if (cate.Quantity <= 0) continue;

                                            <tr>
                                                <td class="center">@(index++)</td>
                                                <td>@cate.Category.Need.Name</td>
                                                <td>
                                                    @cate.Category.Name
                                                </td>
                                                <td>
                                                    @cate.Quantity
                                                </td>
                                                <td> @cate.Category.Unit </td>
                                            </tr>
                                        }
                                    }




                                </tbody>
                            </table>
                        </div>

                        <div class="hr hr8 hr-double hr-dotted"></div>

                        <div class="row">
                            <div class="col-md-12 pull-right">
                                <a href="/HomeAdmin/Beneficiaries/AddNewItem/@item.BeneficiaryId" class="btn btn-success">Cộng thêm vật phẩm</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BeneficiaryId">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BeneficiaryId">Delete</a>
                            </div>
                            <div class=" pull-left">
                                @if (item.ValidatedUser != null)
                                {
                                    <p style="color: forestgreen">Xác nhận bởi: @item.ValidatedUser.Name</p>

                                }
                            </div>
                            <div class="col-md-12 pull-left">
                                <p>@item.Note</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


