@model IEnumerable<Mio.NhaCuaVui.HappySite.Models.Beneficiary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Thông tin
            </th>
            <th>
                Nhu cầu
            </th>
          
          
            <th>
                Chi tiết
            </th>
       

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>Người đề cử: <a href="tel:@item.ProposetorPhone">@item.ProposetorName  - @item.ProposetorPhone</a></p>
                <p>Người của tổ chức: <a href="tel:@item.ContactPhone">@item.ContactName  - @item.ContactPhone</a></p>
                <p>Địa chỉ: @item.GetAddress()</p>
                @if (item.IsValidated == null)
                {
                    <a class="btn btn-outline-dark" href="#">Chưa xác định</a>
                }
                else
                {
                    if (item.IsValidated == true)
                    {
                        <a class="btn btn-success" href="#">Đã duyệt</a>
                        <p>Duyệt bởi: <strong>@item.ValidatedUser.Name</strong></p>
                        <p>Lúc: @item.ValidatedAt.ToLongDateString()</p>
                    }
                    else
                    {
                        <a class="btn btn-danger" href="#">Hỏng được duyệt</a>
                        <p>Bởi: <strong>@item.ValidatedUser.Name</strong></p>
                        <p>Lúc: @item.ValidatedAt.ToLongDateString()</p>
                        <p>@item.NotValidateMessage</p>

                    }
                }


            </td>
            <td>
                @foreach (var cate in item.BenificaryCategoryQuantities)
                {
                    <p><strong>@cate.Category.Name: </strong> @cate.Quantity (@cate.Category.Unit)</p>
                }

                <a href="/HomeAdmin/Beneficiaries/AddNewItem/@item.BeneficiaryId" class="btn btn-success">Cộng thêm vật phẩm</a>

            </td>
            
           
            <td>
                <p><strong>@item.BeneficiaryType.Name</strong></p>
                <p>Số người thụ hưởng: @item.NumberOfPeople</p>
                <p>Tên tổ chức: @item.OrganizationName</p>
                <a class="btn btn-outline-primary" href="#">@item.GetTranspotationInformation()</a>

            </td>
            
          
            
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.BeneficiaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BeneficiaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BeneficiaryId">Delete</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <b>Ghi chú: </b>@Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
}
    </tbody>
</table>
