@model IEnumerable<Mio.NhaCuaVui.HappySite.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thông tin
            </th>
          
           
            <th>
               Quyền
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>Email: @item.Email</p>
                <p>Tên: @item.Name</p>
                <p>Điện thoại: @item.Phone</p>
                <p><strong>Tổ chức: @item.GetMyOrganizationName()</strong></p>

            </td>
         
            <td>
                @foreach(var role in item.UserUserRoles.Select(x => x.UserRole).Distinct().ToList())
                {
                    <p>@role.Name</p>
                }    
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
