@model IEnumerable<Beneficiary>

@foreach (var item in Model)
{
    <div class="col-md-12">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">@item.BeneficiaryType.Name </h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-success">
                            <span class="widget-49-date-day">@item.CreatedAt.Day</span>
                            <span class="widget-49-date-month">@item.CreatedAt.Month</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <h2>@item.OrganizationDisplay() - @item.NumberOfPeople người</h2>
                            <span class="widget-49-meeting-time">Địa chỉ: @item.GetAddress()</span>
                            <span class="widget-49-meeting-time">xác nhận bởi: @item.ValidatedUser.Name (@item.ValidatedUser.Phone)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <ol class="widget-49-meeting-points">
                                @if (item.BenificaryCategoryQuantities != null && item.BenificaryCategoryQuantities.Any())
                                {
                                    @foreach (var cate in item.BenificaryCategoryQuantities)
                                    {
                                        if (cate.Quantity < 0) continue;
                                        <li class="widget-49-meeting-item">
                                            <span>@cate.Category.Name <strong>@cate.Quantity</strong> (@cate.Category.Unit)  <a href="#" class="show-more" data-categoryId="@cate.CategoryId" data-BenificaryId="@cate.BenificaryId">@item.GetNumberOfDelivery(cate.CategoryId)</a></span>
                                            <ul data-categoryId="@cate.CategoryId" data-BenificaryId="@cate.BenificaryId" style="display: none">
                                                @foreach(var del in item.GetDeliveryOrganization(cate.CategoryId))
                                                {
                                                    <li>@del</li>
                                                }
                                            </ul>
                                        </li>

                                    }

                                }
                            </ol>
                        </div>

                        <div class="col-md-8">
                            <div id="carouselExampleIndicators-@item.BeneficiaryId" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators-@item.BeneficiaryId" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators-@item.BeneficiaryId" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner">
                                    @if (item.GetListImage().Any())
                                    {
                                        bool isActive = true;
                                        foreach (var image in item.GetListImage())
                                        {
                                            var activeText = isActive == true ? "active" : "";
                                            if (isActive == true) isActive = false;
                                            <div class="carousel-item @activeText">
                                                <img class="d-block w-100" src="@image">
                                            </div>
                                        }
                                    }

                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators-@item.BeneficiaryId" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators-@item.BeneficiaryId" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>



                    <div class="widget-49-title-wrapper">
                        <p style="color: #F95062">@item.Note</p>
                    </div>
                    <div class="widget-49-meeting-action">
                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0&appId=246313873527015&autoLogAppEvents=1" nonce="cZcSaAeA"></script>
                        <div class="fb-share-button" data-href="https://goidooi.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgoidooi.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
