@model IEnumerable<Delivery>

<h2 style="text-align: center">Những chuyến đò thành công</h2>

<link href="~/css/invoice.css" rel="stylesheet" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@foreach (var delivery in Model)
{
        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-12">
                <div class="widget-box">
                   
                    <div class="widget-body">
                        <div class="widget-main padding-24">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="">
                                            <b style="color: green">Nơi chia sẻ</b>
                                        </div>
                                    </div>

                                    <div>
                                        <ul class="list-unstyled spaced">
                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                <strong> @delivery.GetOrganizationName()</strong>
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right blue"></i>
                                                Ngày chia sẻ: <strong> @delivery.GetDeliveryDate()</strong>
                                            </li>

                                          
                                        </ul>
                                    </div>
                                </div><!-- /.col -->

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="">
                                            <b style="color: darkred">Nơi nhận</b>
                                        </div>
                                    </div>

                                    <div>
                                        <ul class="list-unstyled  spaced">
                                            <li>
                                                <i class="ace-icon fa fa-caret-right green"></i>
                                                <strong> @delivery.GetBeneficaryName()</strong>
                                            </li>

                                            <li>
                                                <i class="ace-icon fa fa-caret-right green"></i>
                                                Địa chỉ:  <strong> @delivery.GetBeneficaryAddress()</strong>
                                            </li>

                                        </ul>
                                    </div>
                                </div><!-- /.col -->
                            </div><!-- /.row -->

                            <div class="space"></div>

                            <div>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center">#</th>
                                            <th>Nhu cầu</th>
                                            <th class="hidden-xs">Tên hàng hóa</th>
                                            <th class="hidden-480">Số lượng</th>
                                            <th>Đơn vị</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @if (delivery.DeliveryCategories != null && delivery.DeliveryCategories.Any())
                                        {
                                            int index = 1;
                                            foreach (var cate in delivery.DeliveryCategories)
                                            {
                                                if (cate.Quantity <= 0) continue;
                                               
                                                <tr>
                                                    <td class="center">@(index++)</td>
                                                    <td>@cate.Category.Need.Name</td>
                                                    <td>
                                                        @cate.Category.Name
                                                    </td>
                                                    <td>
                                                        @cate.Quantity
                                                    </td>
                                                    <td> @cate.Category.Unit </td>
                                                </tr>
                                            }
                                        }
                                    
                                    </tbody>
                                </table>
                            </div>

                            <div class="hr hr8 hr-double hr-dotted"></div>

                            <div class="row">
                                <div class="col-md-12 pull-right">
                                    <div id="fb-root"></div>
                                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0&appId=246313873527015&autoLogAppEvents=1" nonce="cZcSaAeA"></script>
                                    <div class="fb-share-button" data-href="https://goidooi.com/Beneficiary/Detail/@(delivery.BeneficiaryId)" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgoidooi.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

                                    <h4 class="pull-right"> <a href="/Beneficiary/Detail/@delivery.BeneficiaryId" class="btn btn-primary">Xem chi tiết nơi nhận</a></h4>
                                </div>
                                <div class=" pull-left">
                                    <p style="color: forestgreen">Xác nhận bởi: @delivery.ValidatedByUser.Name</p>
                                </div>
                                <div class="col-md-12 pull-left">
                                    <p>@delivery.Beneficiary.Note</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
}


